
*{
    margin:0px;
}
#main {
    border: 2px solid black;
    background-color: orange;
}
#canvas{
    border: 2px solid black;
    width :80%;
    margin :auto;
    height :800px; 
    background-color: black;
}
#form-body {
    border: 2px solid black;
    width: 500px;
    height: 760px;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.form-horizontal .form-label {
    text-align: center;
    flex: 0 0 150px;
    max-width: 150px;
    margin-bottom: 0;
}

.form-horizontal .form-control {
    flex: 1;
}

.form-horizontal .mb-3 {
    display: flex;
    align-items: center;
}





































